
body{
  background:#ad3d3d;
  color:#eba0a0;
  width:100%;
  font-family:sans-serif;
  margin:0 auto;
}
.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  backgroun:#ad3d3d;
  color:#5F9EA0;
}
.jarak{
    padding:0 2pc;
}
.menu{
  background-color:#417aa8;
  height:50px;
  line-height:50px;
  position:relative;
  width:90%;
  margin:0 auto;
  padding:0 auto;
}
.menu ul {
  float:left;
  width:70px;
  display:block;
  text-align:center;
  color:#fff;
  text-decoration:none;
}








